body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cart {
    max-width:px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h1 {
    text-align:;
    color: #333;
}
.cart h2 {
    font-size: 16px;
    text-align: ;
    font-weight: 100;
    padding: auto;
    text-align: ;
    color: #333;
}
.spn {
   margin-left:auto;
   padding: 500px;
   font-size: medium;
}


.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.remove-button {
    background-color: #ff4444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.checkout-button {
    background-color: #7b6ce5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
